

choice
	prompt "NRF81522 based boards"
	default NRF51822_BOARD_RB_51822

config	NRF51822_BOARD_RB_51822
	bool "Redbear NRF51822 board"
	help
	  This builds bathos for a Redbear Engineering NRF51822 board
endchoice

config  BOARD
        string
	default "rb-nrf51822" if NRF51822_BOARD_RB_51822

config OPENSDA_DEBUG
       bool "Config for debugging with opensda"
       help
         This adds an infinite loop just after _romboot_start to let the
	 user connect to the target before actually booting bathos

config NRF51822_UART
	bool "NRF51822 UART driver"
	select HAVE_UART
	help
	  Add an UART driver for the NRF51822

config CONSOLE
	string
	default "uart0" if CONSOLE_UART

config STDIN
	string
	default CONSOLE if STDIN_CONSOLE
	default "uart0" if STDIN_UART

config STDOUT
	string
	default CONSOLE if STDOUT_CONSOLE
	default "uart0" if STDOUT_UART

config COPY_STDOUT_TO_CONSOLE
	bool "Copy stdout to console"
	depends on !STDOUT_CONSOLE
	help
         Copy standard output to console

config NRF51822_RADIO_MASTER
       bool "Enable nrf51822 radio bridge master"
       help
         This adds a radio bridge master driver using the nrf51 low level
	 radio driver

choice
	prompt "NRF51822 RADIO MODE"
	default NRF51822_RADIO_NONE

config NRF51822_RADIO_MASTER
       bool "Enable nrf51822 radio bridge master"
       help
         This adds a radio bridge master driver using the nrf51 low level
	 radio driver

config NRF51822_RADIO_SLAVE
       bool "Enable nrf51822 radio bridge slave"
       help
         This adds a radio bridge slave driver using the nrf51 low level
	 radio driver

config NRF51822_RADIO_NONE
       bool "No radio bridge driver"
       help
         This disables high level radio drivers

endchoice

if NRF51822_RADIO_MASTER || NRF51822_RADIO_SLAVE

config NRF51822_MY_RADIO_ADDR
       hex "Local radio address for nrf51822 (0-255)"
       default 0 if NRF51822_RADIO_MASTER
       default 1 if NRF51822_RADIO_SLAVE
       help
          This sets the local radio address.

config NRF51822_DST_RADIO_ADDR
       hex "Destination radio address for nrf51822 (0-255)"
       default 1 if NRF51822_RADIO_MASTER
       default 0 if NRF51822_RADIO_SLAVE
       help
         This sets the destination radio address.

endif
