

choice
	prompt "KL25Z clock configuration"
	default KL25Z_MCG_PEE

config	KL25Z_MCG_FEI
	bool "KL25Z MCG in FLL Engaged Internal mode"
	help
	  External resonator

config  KL25Z_MCG_PEE
	bool "KL25Z MCG in PLL Engaged External mode"
	help
	  External xtal, 8-32MHz

config  KL25Z_MCG_BLPE
	bool "KL25Z MCG in Bypassed Low Power External mode"
	help
	  External oscillator

endchoice

choice
	prompt "KL25Z based boards"
	default BOARD_FREEDOG

config	KL25Z_BOARD_FREEDOG
	bool "Doghunter Freedog board"
	select KL25Z_MCG_PEE
	help
	  This build bathos for a Freedog board

config  KL25Z_BOARD_ANY
	bool "Generic KL25Z based board"
	help
	  This configures a generic kl25z based board
endchoice

config  BOARD
        string
	default "freedog" if KL25Z_BOARD_FREEDOG
	default "kl25z-any" if KL25Z_BOARD_ANY

config  KL25Z_RESONATOR_FREQ
	depends on KL25Z_MCG_FEI
	int "KL25Z external resonator frequency"
	default 32768

config  KL25Z_XTAL_FREQ
       	int "KL25Z external crystal frequency"
	depends on KL25Z_MCG_PEE
	default 8000000 if KL25Z_BOARD_FREEDOG

config  KL25Z_OSC_FREQ
	int "KL25Z external oscillator frequency"
	depends on KL25Z_MCG_BLPE
	default 8000000

config OPENSDA_DEBUG
       bool "Config for debugging with opensda"
       help
         This adds an infinite loop just after _romboot_start to let the
	 user connect to the target before actually booting bathos

config KL25Z_USB_UART
       bool "KL25Z Usb-uart driver"
       select HAVE_USB_UART
       help
         Add an UART over USB driver for the KL25Z

config KL25Z_UART
	bool "KL25Z UART driver"
	select HAVE_UART
	help
	  Add an UART driver for the KL25Z

config CONSOLE
	string
	default "uart2" if CONSOLE_UART
	default "usb-uart" if CONSOLE_USB_UART

config STDIN
	string
	default CONSOLE if STDIN_CONSOLE
	default "uart2" if STDIN_UART
	default "usb-uart" if STDIN_USB_UART

config STDOUT
	string
	default CONSOLE if STDOUT_CONSOLE
	default "uart2" if STDOUT_UART
	default "usb-uart" if STDOUT_USB_UART

config COPY_STDOUT_TO_CONSOLE
	bool "Copy stdout to console"
	depends on !STDOUT_CONSOLE
	help
         Copy standard output to console