

choice
	prompt "KL25Z clock configuration"
	default KL25Z_MCG_PEE

config	KL25Z_MCG_FEI
	bool "KL25Z MCG in FLL Engaged Internal mode"
	help
	  External resonator

config  KL25Z_MCG_PEE
	bool "KL25Z MCG in PLL Engaged External mode"
	help
	  External xtal, 8-32MHz

config  KL25Z_MCG_BLPE
	bool "KL25Z MCG in Bypassed Low Power External mode"
	help
	  External oscillator

endchoice


config  KL25Z_RESONATOR_FREQ
	depends on KL25Z_MCG_FEI
	int "KL25Z external resonator frequency"
	default 32768

config  KL25Z_XTAL_FREQ
       	int "KL25Z external crystal frequency"
	depends on KL25Z_MCG_PEE
	default 8000000 if BOARD_FREEDOG

config  KL25Z_OSC_FREQ
	int "KL25Z external oscillator frequency"
	depends on KL25Z_MCG_BLPE
	default 8000000

config  KL25Z_BUS_FREQ
       	int "KL25 bus frequency"
	default 24000000

choice
	prompt "Index of uart console"
	depends on CONSOLE_UART

config	CONSOLE_UART0
	bool "Console on KL25Z UART0"
	default n

config  CONSOLE_UART1
	bool "Console on KL25Z UART1"
	default n

config  CONSOLE_UART2
	bool "Console on KL25Z UART2"
	default n

endchoice

config  CONSOLE_DEV_NAME
	string
	default "uart0" if CONSOLE_UART0
	default "uart1" if CONSOLE_UART1
	default "uart2" if CONSOLE_UART2

choice
	prompt "Index of stdout UART"
	depends on STDOUT_UART

config  STDOUT_UART0
        bool "Stdout to KL25Z UART0"
	default n

config  STDOUT_UART1
	bool "Stdout to KL25Z UART1"
	default n

config  STDOUT_UART2
	bool "Stdout to KL25Z UART2"
	default n

endchoice

config STDOUT
       string
       default CONSOLE if STDOUT_CONSOLE
       default "uart0" if STDOUT_UART0
       default "uart1" if STDOUT_UART1
       default "uart2" if STDOUT_UART2
       default "usb-serial-0" if STDOUT_USB_UART

choice
	prompt "Index of stdin UART"
	depends on STDIN_UART

config  STDIN_UART0
        bool "Stdin from KL25Z UART0"
	default n

config  STDIN_UART1
	bool "Stdin from KL25Z UART1"
	default n

config  STDIN_UART2
	bool "Stdin from KL25Z UART2"
	default n

endchoice

config STDIN
       string
       default CONSOLE if STDIN_CONSOLE
       default "uart0" if STDIN_UART0
       default "uart1" if STDIN_UART1
       default "uart2" if STDIN_UART2
       default "usb-serial-0" if STDIN_USB_UART

