
config HAVE_USB
       bool

choice
	prompt "Target machine for bathos"
	default MACH_ATMEGA32U4

config MACH_ATMEGA8
       prompt "Build for an ATMEGA8"
       bool
       help
         Build for an atmega8 MPU

config MACH_ATMEGA32U4
       prompt "Build for and ATMEGA 32U4"
       bool
       select HAVE_USB
       help
         Build for an atmega 32U4 MPU

endchoice

config MACH
       string
       default "atmega8" if MACH_ATMEGA8
       default "atmega32u4" if MACH_ATMEGA32U4

config ATMEGA_USB_UART
       bool "Atmega Usb-uart driver"
       select HAVE_USB_UART
       depends on HAVE_USB
       help
         Add an UART over USB driver for the atmega

config ATMEGA_UART
       bool "Atmega UART driver"
       select HAVE_UART
       help
         Add an UART driver for the atmega

config ATMEGA_SPI
       bool "Atmega SPI driver"
       select HAVE_SPI
       help
         Add a SPI driver for the atmega

config CONSOLE
       string
       default "avr-uart" if CONSOLE_UART
       default "usb-uart" if CONSOLE_USB_UART

config STDIN
       string
       default CONSOLE if STDIN_CONSOLE
       default "avr-uart" if STDIN_UART
       default "usb-uart" if STDIN_USB_UART

config STDOUT
       string
       default CONSOLE if STDOUT_CONSOLE
       default "avr-uart" if STDOUT_UART
       default "usb-uart" if STDOUT_USB_UART

config COPY_STDOUT_TO_CONSOLE
       bool "Copy stdout to console"
       depends on !STDOUT_CONSOLE
       help
         Copy standard output to console

config SMALLSIZE
	bool "Shrink and optimize for size"
	help
	  Remove verbose or useless code, to minimize size in flash"

config ADD_EXTERNAL_BOOTLOADER
       bool "Add external bootloader"
       help
         Add pre-compiled bootloader (hex format) to final image

config EXTERNAL_BOOTLOADER_PATH
       string "External bootloader path"
       depends on ADD_EXTERNAL_BOOTLOADER
       help
         Path of hex file containing external bootloader (placed in top 4k of
	 ATMEGA flash).

config RUN_BOOTLOADER_ON_1200_BPS
       bool "Run bootloader when 1200 bps is set"
       depends on USB_UART
	help
	  Die and run bootloader when a 1200 baud setting is detected
	  on the usb-uart port. This is required for compatibility with
	  Arduino fw updater.
