mainmenu "BaThos configuration"

config HAS_MEMORY_MODE
	bool

choice
	prompt "Architecture to build for"

config ARCH_ATMEGA
	bool "AtMega -- Arduino-like"
	help
	  This

config ARCH_ARM
        bool "ARM -- Cortex-M based"
	help
	  Build for ARM based machines

# For xtensa, we only build a relocatable bathos.o to be linked to user's code
# and sdk libraries
config ARCH_XTENSA
       bool "XTENSA -- a configurable processor"
       select RELOCATABLE_ONLY
       select DISABLE_PRINTF

config ARCH_UNIX
	bool "Unix -- run in a process"
	select HAVE_UART
	help
	  Build

endchoice

config ARCH
       string
       default "atmega" if ARCH_ATMEGA
       default "versatile" if ARCH_VERSATILE
       default "unix" if ARCH_UNIX
       default "arm" if ARCH_ARM
       default "xtensa" if ARCH_XTENSA


config CROSS_COMPILE
       string "Cross compiler prefix"
       default "arm-none-eabi-" if ARCH_ARM
       default "avr-" if ARCH_ATMEGA
       default "xtensa-lx106-elf-" if ARCH_XTENSA
       default ""

config RELOCATABLE_ONLY
       bool
       default n

config INTERRUPT_EVENTS
       bool
       default y if ARCH_ARM
       default n

config PIPE_ASYNC_INTERFACE
       bool "Async interface for pipes"
       default y if ARCH_ARM
       default y if ARCH_XTENSA
       default n

config HAVE_RELOCATE_INTERRUPT_TABLE
       bool
       default n

config RELOCATE_VECTORS_TABLE
       bool "Do relocation of vectors table to RAM (data section)"
       depends on HAVE_RELOCATE_INTERRUPT_TABLE
       help
         This allows redirection of low level interrupt handlers, say no
	 if unsure.
       default n

choice
	prompt "Memory mode"

config MMODE_RAM
	bool "Build for RAM-based execution" if HAS_MEMORY_MODE
	help
	  Selecting this options, the code will use RAM addresses,
	  and must be programmed to the device with tools/program (prog-ram).
	  At power-off time the program is lost.

config MMODE_FLASH
	bool "Build for flash-based execution" if HAS_MEMORY_MODE
	help
	  Selecting this options, the code will use flash addresses for code,
	  and must be programmed to the device with tools/progrom (prog-rom).
	  Bathos.bin will be persistent in the device.

endchoice

config MEMORY_MODE
       string
       default "-ram" if MMODE_RAM
       default "-flash" if MMODE_FLASH
       default ""

if ARCH_ATMEGA
   source "arch-atmega/Kconfig"
endif

if ARCH_ARM
   source "arch-arm/Kconfig"
endif

if ARCH_XTENSA
   source "arch-xtensa/Kconfig"
endif

   source "drivers/Kconfig"

config HAVE_IRQ_CONTROLLER
       bool
       default y if ARCH_ARM
       default n

config HAVE_GPIOS
       bool
       default y if ARCH_ATMEGA
       default n

config HAVE_GPIO_EVENTS
       bool
       default y if ARCH_ATMEGA
       default n

config HAVE_ADCS
       bool
       default y if ARCH_ATMEGA
       default n

config HAVE_PWMS
       bool
       default y if ARCH_ATMEGA
       default n

config GPIO_PORTS_WIDTH
       int
       default 8 if ARCH_ATMEGA

config HAVE_USB_GENERIC_STACK
       bool

config HAVE_UART
       bool

config HAVE_USB_UART
       bool

config HAVE_SPI
       bool

choice
	prompt "Bathos console"

config CONSOLE_DEBUG_BITBANG
       bool "Console on debug bitbang"
       depends on DEBUG_BITBANG
       help
         This option selects the debug bitbang console as the console device.

if HAVE_UART

config CONSOLE_UART
       bool "Console on UART"
       help
         This option selects a UART as the console device

endif

config CONSOLE_NULL
       bool "Null console"
       help
	 Select this when you don't want any console

endchoice

config EARLY_CONSOLE
       bool "Setup an early console"

choice
	prompt "Bathos stdin"

config STDIN_CONSOLE
       bool "Stdin from console"
       help
         Take standard input from selected console

if HAVE_UART

config STDIN_UART
       bool "Stdin from UART"
       depends on HAVE_UART
       help
	 Get standard input from uart

endif

if HAVE_USB_UART

config STDIN_USB_UART
       bool "Stdin from USB-UART"
       depends on HAVE_USB_UART
       help
         Get standard input from usb-uart device

endif

endchoice


choice
	prompt "Bathos stdout"

config STDOUT_CONSOLE
       bool "Stdout to console"
       help
         Send stdandard output to selected console

if HAVE_UART

config STDOUT_UART
       bool "Stdout to UART"
       depends on HAVE_UART
       help
         Send standard output from uart

endif

if HAVE_USB_UART

config STDOUT_USB_UART
       bool "Stdout to USB-UART"
       depends on HAVE_USB_UART
       help
         Send standard output to usb-uart device

endif

endchoice


config HZ
       int "Number of timer ticks in a second"
       default 250 if ARCH_ATMEGA
       default 100 if ARCH_ARM
       default 62500 if MACH_VERSATILE
       default 128 if MACH_NRF51822


   source "tasks/Kconfig"

   source "mcuio/Kconfig"
