mainmenu "BaThos configuration"

config HAS_MEMORY_MODE
	bool

choice
	prompt "Architecture to build for"

config ARCH_ARM
       bool "ARM architecture"
       help
         This architecture builds BaThos for the ARM architecture

config ARCH_LPC1343
	bool "LPC-1343 -- Cortex-M3"
	select HAS_MEMORY_MODE
	help
	  This architecture builds for LPC1343 and similar processors,
	  by NXP.  This is the original architecture for Thos.
	  Bathos can build both for RAM and FLASH modes.

config ARCH_LPC2104
	bool "LPC2104 -- ARM 7"
	select HAS_MEMORY_MODE
	help
	  This

config ARCH_ATMEGA
	bool "AtMega -- Arduino-like"
	help
	  This

config ARCH_VERSATILE
	bool "VERSATILE -- for Qemu"
	help
	  Build

config ARCH_UNIX
	bool "Unix -- run in a process"
	help
	  Build

endchoice

config ARCH
       string
       default "arm" if ARCH_ARM
       default "lpc1343" if ARCH_LPC1343
       default "lpc2104" if ARCH_LPC2104
       default "atmega" if ARCH_ATMEGA
       default "versatile" if ARCH_VERSATILE
       default "unix" if ARCH_UNIX


config CROSS_COMPILE
       string "Cross compiler prefix"
       default "/opt/arm-2011.03/bin/arm-none-eabi-" if ARCH_ARM
       default "/opt/arm-2011.03/bin/arm-none-eabi-" if ARCH_LPC1343
       default "/opt/arm-2011.03/bin/arm-none-eabi-" if ARCH_LPC2104
       default "/opt/arm-2011.03/bin/arm-none-eabi-" if ARCH_VERSATILE
       default "avr-" if ARCH_ATMEGA
       default ""

choice
	prompt "Memory mode"

config MMODE_RAM
	bool "Build for RAM-based execution" if HAS_MEMORY_MODE
	help
	  Selecting this options, the code will use RAM addresses,
	  and must be programmed to the device with tools/program (prog-ram).
	  At power-off time the program is lost.

config MMODE_FLASH
	bool "Build for flash-based execution" if HAS_MEMORY_MODE
	help
	  Selecting this options, the code will use flash addresses for code,
	  and must be programmed to the device with tools/progrom (prog-rom).
	  Bathos.bin will be persistent in the device.

endchoice

config MEMORY_MODE
       string
       default "-ram" if MMODE_RAM
       default "-flash" if MMODE_FLASH
       default ""

if ARCH_ATMEGA
   source "arch-atmega/Kconfig"
endif

if ARCH_ARM
   source "arch-arm/Kconfig"
endif


   source "tasks/Kconfig"
