
config TASK_MCUIO
       prompt "Mcuio protocol implementation"
       bool
       help
	 Enable mcuio implementation

config MCUIO_PIPE_INPUT_PATH
       prompt "Mcuio input pipe path"
       string
       depends on TASK_MCUIO
       default "fd:3" if ARCH=unix
       default "uart-mux-yun" if ARCH=atmega
       help
         The pipe where mcuio will take its input from

config MCUIO_PIPE_OUTPUT_PATH
       prompt "Mcuio output pipe path"
       string
       depends on TASK_MCUIO
       default "fd:4" if ARCH=unix
       default "uart-mux-yun" if ARCH=atmega
       help
         The pipe where mcuio will send its output to

config MCUIO_DEBUG
       prompt "Mcuio debug"
       bool
       depends on TASK_MCUIO
       default n

config MCUIO_ZERO
       prompt "Mcuio zero function"
       bool
       depends on TASK_MCUIO
       default n

config MCUIO_GPIO
       prompt "Mcuio gpio function"
       bool
       depends on TASK_MCUIO
       default n

config MCUIO_GPIO_DEVICE
       prompt "Device id for gpios"
       hex
       depends on MCUIO_GPIO
       default 0x8255

config MCUIO_GPIO_VENDOR
       prompt "Vendor id for gpios"
       hex
       depends on MCUIO_GPIO
       default 0xaaaa

config MCUIO_IRQ_CONTROLLER_WIRE
       prompt "Wire irq controller"
       bool
       depends on TASK_MCUIO
       default n
       help
         This adds an mcuio function which sends interrupts to the MPU via
	 an MCU gpio

config MCUIO_IRQ_CONTROLLER_WIRE_DEVICE
       prompt "Device id for irq controller"
       hex
       depends on MCUIO_IRQ_CONTROLLER_WIRE
       default 0x1111

config MCUIO_IRQ_CONTROLLER_WIRE_VENDOR
       prompt "Vendor id for wire irq controller"
       hex
       depends on MCUIO_IRQ_CONTROLLER_WIRE
       default 0xaaaa

config MCUIO_IRQ_WIRE_GPIO_NUMBER
       prompt "Gpio for irq wire"
       int
       depends on MCUIO_IRQ_CONTROLLER_WIRE
       default 30
       help
         This selects the gpio through which interrupts shall be sent to the
	 MPU

config MCUIO_IRQ_WIRE_ACTIVE_LEVEL
       prompt "Active level for irq wire"
       int
       depends on MCUIO_IRQ_CONTROLLER_WIRE
       default 0
       help
         This select the active level for irqs sent to the MPU

config MCUIO_TEST_IRQ
       prompt "mcuio irq test task"
       bool
       depends on MCUIO_IRQ_CONTROLLER_WIRE
       default false
       help
         This sets up a task wich sends periodic interrupts to the host.

config MCUIO_JS
       prompt "mcuio joystick shield function"
       bool
       depends on TASK_MCUIO
       default n
       help
         This adds an mcuio function which tells the host that a joystick
	 shield is present

choice
	prompt "Gpio names map"

config MCUIO_GPIO_MAP_YUN
       bool "arduino yun gpio map"
       depends on MCUIO_GPIO
       help
         This selects a gpio map corresponding to an arduino shield

config MCUIO_GPIO_MAP_ATMEGA32U4
       bool "generic 32u4 gpio map"
       depends on MCUIO_GPIO
       help
         This selects a generic map for a 32U4

endchoice
