menu "Drivers configuration"

config DEBUG_BITBANG
       bool "Debug bitbang driver"
       default n
       help
         Add a debug bitbang driver

if DEBUG_BITBANG

config BB_CLOCK_GPIO
       int "Bitbang driver clock gpio number"
       help
	 Guess what

config BB_DATA_GPIO
       int "Bitbang driver data gpio number"
       help
         Guess what

config CONSOLE
       string
       default "debug-bitbang" if CONSOLE_DEBUG_BITBANG

endif

config FREESCALE_DRIVERS
       bool

config STM32F4X_DRIVERS
       bool

config ESP8266_DRIVERS
       bool

config ESP8266_STATION_HOSTNAME
       depends on ESP8266_DRIVERS
       string "Wifi station hostname"
       default "lininoIO"

config ESP8266_ESSID
       depends on ESP8266_DRIVERS
       string "Wifi essid"
       default "my-network"

config ESP8266_PASSWD
       depends on ESP8266_DRIVERS
       string "Wifi password"
       default "12345678"

config AMBA_DRIVERS
       bool

config USB_CONFIG_FILE
       string "Usb configuration file"
       default "configs/freedog_usb_config" if KL25Z_BOARD_FREEDOG

config NRF5X_DRIVERS
       bool

config LININOIO_DRIVERS
       bool

endmenu
